.highlighted-link {
    border: 2px solid white; /* Borde blanco de 2 píxeles */
    padding: 1px 1px; /* Espaciado interno para hacer que parezca un botón */
    color: white; /* Texto en color blanco */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    background-color: #000000; /* Fondo azul para resaltar */
}

.highlighted-link:hover {
    background-color: #ffffff; /* Cambia el fondo al pasar el ratón */
    color: #000000;
}

.support_padding {
    padding: 3px 3px;
}